<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>register</title>
</head>
<body>
<h1>注册</h1>
<form method="post" action="/user/register">
    <input type="text" name="username" placeholder="Account"/><br/>
    <input type="text" name="realname" placeholder="Real name"/><br/>
    <input type="password" name="password" placeholder="Password"/><br/>
    <input type="submit"/>
</form>

</body>
</html>